html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    font-size: 1rem;
    background: #bbb;
    padding: 20px 0;
}

.header-container {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

.nav-menu {
    position: absolute;
    top: 125px;
    right: 0;
}

.nav-menu li {
    display: inline;
}

.nav-menu li > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.375em;
    text-transform: uppercase;
    color: black;
    padding: 0 0 0 20px;
}

.nav-menu li > a:hover {
    color: #daa520;
}

.nav-menu li > a:active {
    color: #197be8;
}

.main {
    font-size: 1rem;
}

.footer {
    font-size: 1rem;
    background: url(../images/bg.jpg);
    padding: 40px 0;
}

.footer-container {
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

.footer > div > p {
    color: #fff;
    font-size: 0.8em;
    padding: 10px 0 0 0;
}

.container {
    width: 940px;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {

    .header-container, .container, .footer-container {
        width: 90vw;
    }

    .header img {
        margin: 0 calc((90vw - 177px) / 2);
    }

    .nav-menu {
        position: static;
    }

    .nav-menu li {
        display: inline-block;

    }

    .nav-menu li > a {
        padding: 0 0 0 5px;
    }

}