html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    font-size: 1rem;
    background: #bbb;
    padding: 20px 0;
}

.header-container {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

.nav-menu {
    position: absolute;
    top: 125px;
    right: 0;
}

.nav-menu > li {
    display: inline;
}

.nav-menu > li > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.375em;
    text-transform: uppercase;
    color: black;
    padding: 0 0 0 20px;
}

.footer {
    font-size: 1rem;
    background: url(../images/bg.jpg);
    padding: 40px 0;
}

.footer-container {
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

.footer > div > p {
    color: #fff;
    font-size: 0.8em;
    padding: 10px 0 0 0;
}

.container {
    width: 940px;
    margin: 0 auto;
}