h1, h2, h3 {
    padding: 0 0 40px;
}

h1, h2, h3, .localization p {
    text-align: center;
}

.inner-barbershop {
    width: 100%;
}

.about-barbershop, .localization, .benefits, .video {
    padding: 50px 0;
}

.about-barbershop h1 {
    font-size: 2.6em;
}

.about-barbershop p {
    padding: 0 0 15px;
}

.about-barbershop img {
    height: 130px;
    float: left;
    margin: 0 20px 0 0;
}

.localization {
    background: linear-gradient(#fff, #777);
}

.localization h2 {
    font-size: 2em;
}

.localization p {
    padding: 0 0 30px;
}

.benefits {
    background: linear-gradient(#777, #666);
}

.benefits h3 {
    font-size: 1.8em;
}

.benefits-list, .benefits img {
    display: inline-block;
    vertical-align: top;
}

.benefits img {
    width: 40%;
    margin: 0 2.5% 0 7.5%;
    box-shadow: 10px 10px 10px black;
    transition: 0.5s;
}

.benefits-list {
    width: 30%;
    margin: 0 7.5% 0 2.5%;
}

.benefits-list:first-line {
    font-weight: bold;
}

.benefits-list li {
    line-height: 2.8em;
}

.benefits-list li:before {
    content: '\2605';
}

#benefits-img:hover {
    opacity: 0.35;
}

.video {
    background: linear-gradient(#666, #555);
}

.video iframe {
    margin: 0 20%;
}

@media screen and (max-width: 480px) {

    .about-barbershop, .localization, .benefits, .video {
        padding: 30px 0
    }

    .about-barbershop {
        background: linear-gradient(#fff 40%, #CCC);
    }
    
    .about-barbershop p {
        line-height: 1.3em;
    }

    .about-barbershop img {
        margin: 0 20px 10px 0;
    }

    .localization {
        background: linear-gradient(#CCC, #777);
    }

    .benefits-list, .benefits img {
        display: block;
    }

    .benefits img, .video iframe {
        width: 100%;
        margin: 0;
    }

    .benefits img {
        box-shadow: 0 0 15px 8px black;
    }

    .benefits-list {
        width: 70%;
        margin: 30px calc((337.5px - 219.375px) / 2) 0;
    }

    .benefits-list li {
        line-height: 1.8em;
    }

}