.main {
    font-size: 1rem;
}

.main h1, .main h2, .main h3, .localization p {
    text-align: center;
}

.inner-barbershop {
    width: 100%;
}

.about-barbershop, .localization {
    padding: 40px 0;
}

.about-barbershop > div > h1 {
    padding: 0 0 40px;
    font-size: 2.6em;
}

.about-barbershop > div > p {
    padding: 0 0 15px;
}

.about-barbershop > div > img {
    height: 130px;
    float: left;
    margin: 0 20px 0 0;
}

.localization {
    background: linear-gradient(#fff, #777);
}

.localization > div > h2 {
    padding: 0 0 30px;
    font-size: 2em;
}

.localization > div > p {
    padding: 0 0 25px;
}

