.products {
    padding: 10vh 30vh;
}

.products__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    box-sizing: border-box;
}

.products__list__itens {
    width: 30%;
    padding: 4vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: space-evenly;
    border: 2px solid #000000;
    border-radius: 10px;
    text-align: center;
}

.products__list__itens:hover {
    transform: scale(1.05);
    border-color: #994D00;
    color: #994D00;
}

.products__list__heading {
    font-size: 1.9rem;
}

.products__list__image {
    height: 70%;
}

.products__list__text {
    font-size: 1.3rem;
}

@media screen and (max-width: 480px) {

    .products {
        padding: 30px 0;
    }

    .products-list-itens {
        display: block;
        width: 100%;
        margin: 30px 0;
    }

    .products-list-itens > img {
        margin: 0 calc((305.5px - 250px) / 2);
    }

    .products-list-itens > img + p {
        height: 50px;
    }
}

@media screen and (max-width: 850px) {
    
    .products-list-itens {
        margin: 0 1%;
    }

    .products-list-itens h2 {
        height: 60px;
    }

    .products-list-itens > img {
        width: 99%;
    }

}